In [70]:
import time
import pandas as pd
import numpy as np
import itertools

start = time.time()

full_tutors = pd.read_csv("tutors.csv")
full_classes = pd.read_csv("classes.csv")
full_students = pd.read_csv("students.csv")

In [71]:
# minor preprocessing of original dataframes for better organization later
full_tutors = full_tutors.rename(columns={'Name' : 'Tutor'})
full_classes = full_classes.rename(columns={'Class #1 Name (ex. 5th Grade Strings, 7th Grade Concert Band, etc)': 'Class #1 Name', 'Class #1 Classroom Number (If you do not have a specific room number, please provide a description of where the class is held)': 'Classroom Number #1'})
full_classes = full_classes.rename(columns={'Class #2 Name (ex. 5th Grade Strings, 7th Grade Concert Band, etc)': 'Class #2 Name', 'Class #2 Classroom Number (If you do not have a specific room number, please provide a description of where the class is held)': 'Classroom Number #2'})
full_classes = full_classes.rename(columns={'Class #3 Name (ex. 5th Grade Strings, 7th Grade Concert Band, etc)': 'Class #3 Name', 'Class #3 Classroom Number (If you do not have a specific room number, please provide a description of where the class is held)': 'Classroom Number #3'})
full_students = full_students.rename(columns={'Student Name - Last, First': 'Student'})
# full_tutors and full_students dataframes will not be mutated after this

In [72]:
# split students into the 4 priorities 
application = 'Previous application with TMC'
freeLunch = 'Does the student qualify for the free or reduced lunch program?'
prevTutored = 'Yes, my student has previously applied and received lessons with TMC'
prevApplied = 'Yes, my student has applied for lessons with TMC before but was not placed for lessons'
newStudent = 'No, this is my student\'s first time applying for lessons with TMC'

students1 = full_students.loc[(full_students[application] == prevTutored)]
students2 = full_students.loc[(full_students[application] == prevApplied) & (full_students[freeLunch] == 'Yes')]
students3 = full_students.loc[(full_students[application] == newStudent) & (full_students[freeLunch] == 'Yes')]
students4 = full_students.loc[(full_students[application] == prevApplied) & (full_students[freeLunch] == 'No')]
students5 = full_students.loc[(full_students[application] == newStudent) & (full_students[freeLunch] == 'No')]

In [73]:
#split classes into separate rows
classes1 = full_classes[['Email address','Name', 'School', 'Class #1 Name', 'Class #1 Grade Level', 'Class #1 Instruments (check all that apply)','Class #1 Timings [Monday]', 'Class #1 Timings [Tuesday]', 'Class #1 Timings [Wednesday]', 'Class #1 Timings [Thursday]', 'Class #1 Timings [Friday]', 'Classroom Number #1', 'How specifically would you like the tutors to help you? (ex. one-on-one, sectionals, etc.)', 'Any other requests or concerns that you would like TMC to know?']]
classes2 = full_classes[['Email address','Name', 'School', 'Class #2 Name', 'Class #2 Grade Level', 'Class #2 Instruments (check all that apply)','Class #2 Timings [Monday]', 'Class #2 Timings [Tuesday]', 'Class #2 Timings [Wednesday]', 'Class #2 Timings [Thursday]', 'Class #2 Timings [Friday]', 'Classroom Number #2', 'How specifically would you like the tutors to help you? (ex. one-on-one, sectionals, etc.)', 'Any other requests or concerns that you would like TMC to know?']]
classes3 = full_classes[['Email address','Name', 'School', 'Class #3 Name', 'Class #3 Grade Level', 'Class #3 Instruments (check all that apply)','Class #3 Timings [Monday]', 'Class #3 Timings [Tuesday]', 'Class #3 Timings [Wednesday]', 'Class #3 Timings [Thursday]', 'Class #3 Timings [Friday]', 'Classroom Number #3', 'How specifically would you like the tutors to help you? (ex. one-on-one, sectionals, etc.)', 'Any other requests or concerns that you would like TMC to know?']]
new_cols = {x: y for x, y in zip(classes2.columns, classes1.columns)}
classes1 = classes1.append(classes2.rename(columns=new_cols), ignore_index = True)
new_cols = {x: y for x, y in zip(classes3.columns, classes1.columns)}
classes1 = classes1.append(classes3.rename(columns=new_cols), ignore_index = True)
classes1 = classes1[classes1['Class #1 Name'].isna() == False].reset_index(drop=True)
classes = classes1.rename({'Class #1 Name': 'Class Name', 'Class #1 Grade Level': 'Grade Level','Class #1 Instruments (check all that apply)': 'Instruments', 'Class #1 Timings [Monday]': 'Monday', 'Class #1 Timings [Tuesday]': 'Tuesday', 'Class #1 Timings [Wednesday]': 'Wednesday', 'Class #1 Timings [Thursday]': 'Thursday', 'Class #1 Timings [Friday]':'Friday', 'Classroom Number #1': 'Classroom Number'},axis=1)

In [74]:
# more useful arrays
student = ['Student']
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
times = ['Before 11am', '11am- 1pm', '1pm- 3pm', '3pm- 5pm', "After 5pm"]
daystimes = [day + ' ' + time for day in days for time in times]
choices = ['Instrument (First Choice)', 'Instrument (Second Choice)', 'Instrument (Third Choice)']
grade = ['Grade Level']
class_times = ['8AM', '9AM', '10AM', '11AM', '12PM', '1PM', '2PM', '3PM', 'After 4PM']
class_daystimes = [day + ' ' + time for day in days for time in class_times]

In [75]:
"""
Function to preprocess the given dataframe.
Arguments: data - raw dataframe (read from tutors.csv or students.csv)
           status - 'students' or 'tutors'
Returns: new dataframe with only the necessary columns for matching
"""
def preprocess(data, status):
    # filter out irrelevant columns, remove/replace invalid data entries
    data = data.replace(np.nan, '')
    if status == 'students':
        data = data[student + choices + days + grade]
        # consolidate all instruments into one column, in the order of preference
        data['Instrument'] = data[choices].agg(', '.join, axis=1)
        data = data.drop(choices, 1)
        data = data.rename(columns={'Grade Level': 'Grade'})
    elif status == 'tutors':
        data = data[['Tutor', 'Which instrument(s) would you like to teach?'] + days + ['Grade levels you prefer to work with:']]
        data = data.rename(columns={'Which instrument(s) would you like to teach?': 'Instrument'})
        data = data.rename(columns={'Grade levels you prefer to work with:': 'Grade'})
        
        
    # standardize instrument name to be lowercase
    data['Instrument'] = data['Instrument'].str.lower()
    
    # extract day/time availabilities into separate columns
    index = 0
    for i in range(len(days)):
        for j in range(len(times)):
            d = days[i]
            t = times[j]
            data[daystimes[index]] = data[d].str.contains(t)
            index += 1
    
    # keep only day, time combination columns in dataframe
    data = data.drop(days, 1)
    
    # add column for number of availabilities
    temp = data[daystimes]
    temp['Count'] = temp.sum(1)
    data['Count'] = temp['Count']
    data = data.sort_values(by='Count')
    
    return data

In [76]:
# create dataframes to use for matching
pd.set_option('mode.chained_assignment', None)
tutors = preprocess(full_tutors, 'tutors')
# students = preprocess(full_students, 'students')

students1 = preprocess(students1, 'students')
students2 = preprocess(students2, 'students')
students3 = preprocess(students3, 'students')
students4 = preprocess(students4, 'students')
students5 = preprocess(students5, 'students')

# all students, in order of priority level and least to most available
students = pd.concat([students1, students2, students3, students4, students5])

In [81]:
# copy to mutate in function; tutors will be removed once they are matched
tutors2 = tutors.copy()

,Tutor,Instrument,Grade,Monday Before 11am,Monday 11am- 1pm,Monday 1pm- 3pm,Monday 3pm- 5pm,Monday After 5pm,Tuesday Before 11am,Tuesday 11am- 1pm,...,Saturday 11am- 1pm,Saturday 1pm- 3pm,Saturday 3pm- 5pm,Saturday After 5pm,Sunday Before 11am,Sunday 11am- 1pm,Sunday 1pm- 3pm,Sunday 3pm- 5pm,Sunday After 5pm,Count
2,Jose,piano,"3-5, 5-8",False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,1
4,Lizzy,"violin, bass, piano","3-5, 5-8",False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,1
1,Rohan,"flute, piano, guitar","K-2, 3-5",True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,2
3,zz@gmail.com,"piano, guitar","5-8, 9-12",False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,3
12,gah,viola,3-5,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,3
14,help,guitar,5-8,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,3
10,Bob the Builder,"bass, clarinet","3-5, 5-8",False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,True,4
11,askfhalkjh,"clarinet, piano",K-2,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,4
13,wat,guitar,5-8,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,4
15,sad,guitar,5-8,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,4
0,George,"clarinet, piano, voice","3-5, 5-8",False,False,False,False,True,False,False,...,False,False,False,True,False,False,False,False,False,7
6,James McDonald,"violin, cello, bass","3-5, 5-8, 9-12",False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,8
8,Arnav Rao,"trumpet, piano, guitar","K-2, 3-5, 5-8, 9-12",True,False,False,False,True,True,False,...,False,False,False,False,True,False,False,False,False,8
9,Ryan Nadeem,"violin, piano","5-8, 9-12",True,False,False,False,False,True,False,...,False,False,False,False,True,False,False,False,False,8
7,Tony Stark,"violin, flute, piano, guitar","K-2, 5-8",True,False,False,False,True,True,False,...,False,False,False,False,True,False,False,False,False,9
5,Ahmed Baqai,guitar,"5-8, 9-12",True,False,False,False,True,True,False,...,False,False,False,True,True,False,False,False,True,10

In [68]:
"""
Takes in a student in the form of a tuple with (length, Series) -- values from a df.iterrows() iterable.
Returns a list of matched tutor, instrument, and time slots, or a list of Nones if no match can be created.
Matches are considered valid if there is an instrument overlap between student and tutor, and at least one time availability overlap.
"""
def match(student):
    student_info = student[1]
    # remove empty strings from student's instruments choice (i.e. if student has less than 3 preferences)
    student_instruments = list(filter(None, student_info['Instrument'].split(', ')))
    student_grade = student_info['Grade']
    
    t_without_count = tutors2.drop(columns='Count')
    
    # iterate through student's instruments, beginning with first choice
    for instrument in student_instruments:
        # iterate through all remaining tutors, searching for a match with specific instrument choice
        tutors_iter = t_without_count.iterrows()
        for tutor in tutors_iter:
            tutor_info = tutor[1]
            tutor_instruments = tutor_info['Instrument']
            tutor_grade = list(filter(None, tutor_info['Grade'].split(', ')))
            # merge into one Series with values as lists of [tutor value, student value]
            combined_info = tutor_info.combine(student_info, lambda x, y: [x, y])
            # times where both tutor and student are available
            times = [t for t in combined_info.index if combined_info[t] == [True, True]]
            
            #brute force grade preference
            if instrument in tutor_instruments and len(times) > 0 and student_grade in tutor_grade:
                return [tutor_info[0], instrument, times]
        
        for tutor in tutors_iter:
            tutor_info = tutor[1]
            tutor_instruments = tutor_info['Instrument']
            tutor_grade = list(filter(None, tutor_info['Grade'].split(', ')))
            # merge into one Series with values as lists of [tutor value, student value]
            combined_info = tutor_info.combine(student_info, lambda x, y: [x, y])
            # times where both tutor and student are available
            times = [t for t in combined_info.index if combined_info[t] == [True, True]]
            
            # if instrument matches and there is at least one shared time availability
            if instrument in tutor_instruments and len(times) > 0:
                return [tutor_info[0], instrument, times]
    
    # no match found for any of the three instrument choices
    return [None, None, None]

In [78]:
def match_classes(classes):
    classes_info = classes[1]
    # remove empty strings from student's instruments choice (i.e. if student has less than 3 preferences)
    class_instruments = list(filter(None, classes_info['Instruments'].split(', ')))
    classes_grade = classes_info['Grade Level']
    
    t_without_count = tutors2.drop(columns='Count')
    
    # iterate through student's instruments, beginning with first choice
    for instrument in classes_instruments:
        # iterate through all remaining tutors, searching for a match with specific instrument choice
        tutors_iter = t_without_count.iterrows()
        for tutor in tutors_iter:
            tutor_info = tutor[1]
            tutor_instruments = tutor_info['Instrument']
            tutor_grade = list(filter(None, tutor_info['Grade'].split(', ')))
            # merge into one Series with values as lists of [tutor value, student value]
            combined_info = tutor_info.combine(student_info, lambda x, y: [x, y])
            # times where both tutor and student are available
            times = [t for t in combined_info.index if combined_info[t] == [True, True]]
            
            #brute force grade preference
            if instrument in tutor_instruments and len(times) > 0 and student_grade in tutor_grade:
                return [tutor_info[0], instrument, times]
        
        for tutor in tutors_iter:
            tutor_info = tutor[1]
            tutor_instruments = tutor_info['Instrument']
            tutor_grade = list(filter(None, tutor_info['Grade'].split(', ')))
            # merge into one Series with values as lists of [tutor value, student value]
            combined_info = tutor_info.combine(student_info, lambda x, y: [x, y])
            # times where both tutor and student are available
            times = [t for t in combined_info.index if combined_info[t] == [True, True]]
            
            # if instrument matches and there is at least one shared time availability
            if instrument in tutor_instruments and len(times) > 0:
                return [tutor_info[0], instrument, times]
    
    # no match found for any of the three instrument choices
    return [None, None, None]

In [69]:
# create the iterator from rows of students
s_without_count = students.drop(columns='Count')
students_iter = s_without_count.iterrows()

In [70]:
# create the dataframe to store matches once made
matches = pd.DataFrame(columns=['Student', 'Tutor', 'Instrument', 'Time(s)'])

In [ ]:
# iterate through students; use function defined above to get a match
for c in classes.iterrows():
    m = match(c)
    # add to matches dataframe
    matches.loc[len(matches)] = [c[1][0]] + m
    # remove tutor if successfully matched
    if m[0] is not None:
        tutors2 = tutors2.drop(tutors2[tutors2['Tutor'] == m[0]].index)

In [71]:
# iterate through students; use function defined above to get a match
for s in students_iter:
    m = match(s)
    # add to matches dataframe
    matches.loc[len(matches)] = [s[1][0]] + m
    # remove tutor if successfully matched
    if m[0] is not None:
        tutors2 = tutors2.drop(tutors2[tutors2['Tutor'] == m[0]].index)

In [72]:
# matched students
matched = matches[matches['Tutor'].notna()]

In [73]:
# unmatched students
no_match = matches[matches['Tutor'].isna()]

In [74]:
# unmatched tutors
tutors2[['Tutor', 'Instrument', 'Count']]

              Tutor              Instrument  Count
2              Jose                   piano      1
12              gah                   viola      3
14             help                  guitar      3
10  Bob the Builder          bass, clarinet      4
11       askfhalkjh         clarinet, piano      4
13              wat                  guitar      4
15              sad                  guitar      4
0            George  clarinet, piano, voice      7

In [75]:
# matches with relevant information (add any columns needed)
matched = matched.merge(full_students[['Student', 'Email Address']], on='Student', how='left')
matched = matched.merge(full_tutors[['Tutor', 'Email']], on='Tutor', how='left')
matched = matched.rename(columns={'Email Address' : 'Student Email', 'Email' : 'Tutor Email'})
matched

,Student,Tutor,Instrument,Time(s),Student Email,Tutor Email
0,"berkelee, berk",James McDonald,cello,"[Saturday Before 11am, Thursday Before 11am, W...",blahblah@berkeley.edu,ahmed.baqai@gmail.com
1,"Bob, Alice",Tony Stark,violin,"[Monday Before 11am, Thursday After 5pm]",123movies@gmail.com,ahmed.baqai@gmail.com
2,"Lee, Ender",Arnav Rao,trumpet,"[Monday After 5pm, Wednesday After 5pm]",enderlee2006@yahoo.com,ahmed.baqai@gmail.com
3,"Stalin, Joseph",zz@gmail.com,piano,"[Saturday After 5pm, Tuesday After 5pm]",jstalin@gmail.com,saads@gmail.com
4,"Cena, John",Ryan Nadeem,violin,"[Friday After 5pm, Friday Before 11am, Thursda...",ahmed.baqai@gmail.com,ahmed.baqai@gmail.com
5,"A, B",Lizzy,violin,[Sunday After 5pm],helpme@yahoo.com,safdsa@gmail.com
6,"Lopez, Jennifer",Rohan,piano,[Wednesday After 5pm],yhs@gmail.com,asafs@gmail.com
7,"Ryan, Jack",Ahmed Baqai,guitar,"[Friday Before 11am, Monday After 5pm, Saturda...",ahmed.baqai@gmail.com,ahmed.baqai@gmail.com

In [76]:
# students with no matches with relevant information (add any columns needed)
no_match = no_match.merge(full_students[['Student', 'Email Address']], on='Student', how='left')
no_match = no_match.rename(columns={'Email Address' : 'Student Email'}).drop(['Tutor', 'Instrument', 'Time(s)'], 1)
no_match

                Student              Student Email
0            Mosey, Lil               lm@gmail.com
1        Glover, Donald               gg@gmail.com
2        Pitt, Bradasdf      ahmed.baqai@gmail.com
3      quarantine, help            coron@virus.org
4            Pitt, Brad      ahmed.baqai@gmail.com
5          cjh, asdkfjh              prims@aol.com
6     Kardashian, Khloe              tyg@gmail.com
7          Chan, Jackie      ahmed.baqai@gmail.com
8          Brown, Stacy      ahmed.baqai@gmail.com
9       Roberts, George              ffs@gmail.com
10       Charles, James      ahmed.baqai@gmail.com
11  Charlesjhfas, James      ahmed.baqai@gmail.com
12            Dev, Neil      ahmed.baqai@gmail.com
13        Patel, Adisdf      ahmed.baqai@gmail.com
14          Clancy, Tom      ahmed.baqai@gmail.com
15         Fiasco, Lupe               tt@gmail.com
16           Baqai, Ali      ahmed.baqai@gmail.com
17      Pontiac, Xavier  xavier.pontiac1@gmail.com
18           Patel, Adi      ahmed.baqai@gmail.com

In [77]:
# time for computation (in seconds):
time.time() - start

1.9265069961547852